@import '../../../../../assets/styles/mixins.scss';
@import '../../../../../assets/styles/variables.scss';

.field-configuration-container {
    background-color: $dark-purple;
    padding: 30px;
    border-radius: 6px 6px 0px 0px;

    svg {
        width: 30px;
        height: 30px;

        &.warn-icon {
            margin-right: 12px;
        }
    }

    .field {
        border: 2px solid $dark-grey;
        border-radius: 6px;
        padding: 9px 12px 9px 12px;
        display: grid;
        grid-template-columns: auto 90px;

        .field-title {
            font-weight: bold;
        }
        .field-type {
            text-transform: uppercase;
            color: $light-orange;
            font-weight: bold;
            font-size: small;
        }
        .field-icon {
            color: $light-orange;
            font-weight: bold;
            margin-top: 5px;
        }
    }

    .inputs-row {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 30px;
        column-gap: 15px;

        input {
            @include input;
        }

        .control {
            display: grid;

            &>label {
                text-transform: uppercase;
                color: $light-purple;
                font-weight: bold;
                font-size: 12px;
            }
        }
    }

    .options-row {
        margin-top: 12px;
        display: grid;
        grid-template-rows: auto auto;

        label {
            text-transform: uppercase;
            color: $light-purple;
        }

        .add-new-option {
            display: grid;
            grid-template-columns: 30px auto;
            align-items: center;
            cursor: pointer;
        }

        input {
            @include input;
        }

        .opt-input {
            display: grid;
            grid-template-columns: auto;
        }
    }
}

.field-buttons {
    background-color: $medium-purple;
    padding: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: 120px auto 120px;
    border-radius: 0px 0px 6px 6px;

    button {
        background: transparent;
        font-weight: bold;
        color: #ffffff;
    }
}